<div class= "col-12 d-flex flex-wrap">
  <% users.each do |user| %>
  <div class= "card mx-auto col-5 pt-3 pb-3 mt-4 mb-4 shadow">
    <%= link_to user_path(user.id) do %>
      <div class= card-img-top >
        <% if user.image.attached? %>
          <%= image_tag user.image, size: "400x400", alt: "Profile Image", class: "card-img-top rounded-circle" %>
        <% else %>
          <%= image_tag 'no_image_profile.jpg', class: "mx-auto card-img-top rounded-circle", size: "400x400" %>
        <% end %>
      </div>
      <h4 class= "font-weight-bold text-center"><%= user.name%></h4>
    <% end %>
    <div class= "d-flex justify-content-around">
      <p class= "mt-2 font-weight-bold">投稿件数 <%= user.posts.count %>件</p>
      <div class= "mt-2">
        Follows： <%= link_to user.followings.count, user_followings_path(user.id) %>
      </div>
      <div class= "mt-2">
        Followers: <%= link_to user.followers.count, user_followers_path(user.id) %>
      </div>
    </div>
  </div>
  <% end %>
</div>