<h2>Profile Edit</h2>
<%= form_with model:@user,local:true do |f| %>
  <h4>Name</h4>
    <%= f.text_field :name, autofocus: true %>
  <h4>Introduction</h4>
    <%= f.text_area :introduction %>
  <h4>Profile Image</h4>
    <%= f.file_field :image %>
    <%= f.submit "Save Profile" %>
<% end %>