<div class= "container">
  <div class= "row">
    <h2 class= "p-4 text-secondary font-weight-bold">プロフィール編集</h2>
  </div>
  <div class= "row">
    <div class= "col-lg-8">
      <%= form_with model:@user,local:true do |f| %>
        <div class="field">
          <h4>名前</h4>
          <%= f.text_field :name, autofocus: true %>
        </div>
        <div class= "field pt-4">
          <h4>自己紹介</h4>
          <%= f.text_area :introduction, size: "60x10", placeholder: "あなたの英語力や語学学習歴を紹介しましょう。" %>
        </div>
        <div class= "field pt-4">
          <h4>プロフィール画像</h4>
          <%= f.file_field :image %>
        </div>
        <div class= "actions pt-4 pb-4">
          <%= f.submit "Save Profile", class: "btn btn-success" %>
        </div>
      <% end %>
    </div>
  </div>
</div>