<div class= "container">
  <div class= "row border-bottom">
    <div class= "col-4 mt-4">
      <% if @user.image.attached? %>
        <%= image_tag @user.image, size: "300x300", alt: "Profile Image", class: "mx-auto rounded-circle" %>
      <% else %>
        <%= image_tag 'no_image_profile.jpg', size: "300x300", class: "mx-auto rounded-circle" %>
      <% end %>
    </div>
    <div class= "col-8 mt-4">
      <h2 class= "font-weight-bold"><%= @user.name %></h2>
        <% if @user.id == current_user.id %>
          <%= link_to "プロフィールを編集", edit_user_path(@user.id), class:"btn btn-secondary" %>
        <% else %>
          <div class= "follow-btn">
            <%= render "relationships/follow-btn", user: @user %>
          </div>
        <% end %>
      <div class= "follows-count">
        <%= render "relationships/count", user: @user %>
      </div>
      <h6 class= "font-weight-bold pt-4">自己紹介</h6>
      <p><%= @user.introduction %></p>
      <p class= "pt-3 font-weight-bold">投稿件数 <%= @user.posts.count %>件</p>
      <% if @user.id == current_user.id %>
        <%= link_to "Create New Post", new_post_path, class: "btn btn-success mb-2" %><br>
        <%= link_to "Your Favorite Contents", "/users/#{@user.id}/favorites", class: "btn btn-info mb-2" %>
      <% else %>
      <div class= "chat-btn">
        <%= render 'chats/chat-btn', user: @user %>
      </div>
      <% end %>
    </div>
  </div>
  <div class= row>
    <%= render 'posts/posts', posts: @user.posts %>
  </div>
</div>