<div class= "container">
  <div class= "row">
    <div class= "col-lg-4 pt-4">
      <%= image_tag @user.image, size:"400x400", alt: "Profile Image", class: "mx-auto rounded-circle" %>
      <h2 class= "font-weight-bold"><%= @user.name %></h2>
        <% if @user.id == current_user.id %>
        <%= link_to "プロフィールを編集", edit_user_path(@user.id), class:"btn btn-secondary" %>
        <% end %>
        <h6 class= "font-weight-bold pt-4">自己紹介</h6>
        <p><%= @user.introduction %></p>
        <p class= "pt-3">投稿件数 <%= @posts.count %>件</p>
        <% if @user.id == current_user.id %>
        <%= link_to "Create New Post", new_post_path, class: "btn btn-success" %><br>
        <% end %>
    </div>
  </div>
</div>

<%= render 'posts/posts', posts: @posts %>