<div>
  <h3><%= @user.name %></h3>
  <%= image_tag 'sample-author3.jpg' %>
</div>

<% @post.each do |post| %>
  <div>
    <%= link_to post_paath(post.id) do %>
      <%= image_tag post.image %>
    <%= end %>
    <p>投稿ユー</p>
  </div>