<div class= "col-12 d-flex flex-wrap">
  <% posts.each do |post| %>
  <div class= "card mx-auto col-5 pt-4 mt-4 mb-4 shadow" id= "post_<%= post.id %>">
    <%= link_to post_path(post.id) do %>
      <% if post.image.attached? %>
        <%= image_tag post.image, size: "100x300", alt: "Contents Image", class: "card-img-top" %>
      <% else %>
        <%= image_tag 'no_image_post.png', size: "100x300", class: "card-img-top" %>
      <% end %>
    <% end %>
    <div class= "card-body">
      <%= link_to user_path(post.user.id) do %>
      <% if post.user.image.attached? %>
        <%= image_tag post.user.image, size: "60x60", class: "mt-2 rounded-circle" %>
      <% else %>
        <%= image_tag 'no_image_profile.jpg', size: "60x60", class: "mt-2 rounded-circle" %>
      <% end %>
      <% end %>
      <p class= "font-weight-bold"><%= post.title %></p>
      <p>Posted by <%= post.user.name %></p>
      <div class= "d-flex justify-content-around">
        <div class= "favorite-btn"><%= render "favorites/favorite-btn", post: post %></div>
        <div class= "comments">
          <%= render "comments/count", post: post %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>
