<h1>All Contents</h1>
<h2>Genres</h2>
<p>Movie</p>
<p>Books</p>
<p>Games</p>
<p>Drama</p>
<p>Music</p>

<% @posts.each do |post| %>
<div>
 <p>作品名：<%= post.title %></p>
 <%= link_to post_path(post.id) do %>
 　<%= image_tag post.image %>
 <% end %>
 <p>Posted by <%= post.user.name %></p>
   <% if post.favorited_by?(current_user) %>
     <p>
       <%= link_to post_favorites_path(post),method: :delete do %>
         ♥<%= post.favorites.count %>いいね
       <% end %>
     </p>
   <% else %>
     <p>
       <%= link_to post_favorites_path(post),method: :post do %>
         ♡<%= post.favorites.count %>いいね
       <% end %>
     </p>
   <% end %>
 <p><%= link_to "#{post.comments.count}コメント",post_path(post.id) %></p>
</div>
<% end %>
<%= paginate @posts %>
